<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>koa-blog</title>
    <link rel="icon" href="/img/blog.png">
    <link rel="apple-touch-icon" href="/img/blog.png">
    <link rel="apple-touch-icon-precomposed" href="/img/blog.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<header>
    <nav>
        <div class="nav-wrapper">
            <div class="padding-15" style="overflow: hidden;">
                <a href="#" class="brand-logo">
                    <% if(session.user){ %>
                    Hello：<%= session.user %>
                    <% } %>
                    <% if(!session.user){ %>
                    未登录
                    <% } %></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <%  if(session.user){ %>
                    <li><a href="/posts">全部文章</a></li>
                    <li><a href="/create">发表文章</a></li>
                    <li><a href="javascript:;" id="signout">退出</a></li>
                    <% } %>
                    <% if(!session.user){ %>
                    <li><a href="/posts">全部文章</a></li>
                    <li><a href="/signup">注册</a></li>
                    <li><a href="/signin">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="fixed-action-btn horizontal click-to-toggle hide-on-large-only">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul class="valign-wrapper">
        <%  if(session.user){ %>
        <li><a class="btn-floating red" href="/posts"><i class="material-icons">list</i></a></li>
        <li><a class="btn-floating yellow darken-1" href="/create"><i class="material-icons">mode_edit</i></a></li>
        <li><a class="btn-floating green" href="javascript:;" id="signout2"><i class="material-icons">power_settings_new</i></a></li>
        <% } %>
        <% if(!session.user){ %>
        <li><a class="btn-floating red" href="/signin"><i class="material-icons">assignment_ind</i></a></li>
        <li><a class="btn-floating yellow darken-1" href="/signup"><i class="material-icons">queue</i></a></li>
        <li><a class="btn-floating green" href="/posts"><i class="material-icons">list</i></a></li>
        <% } %>
    </ul>
</div>
<script>
    let isSignout=true;
    $('#signout,#signout2').click(()=>{
        if(!isSignout){
            return
        }
        isSignout=false;
        sigout();
    })
    let sigout=(flag)=>{
        $.ajax({
            url: "/signout",
            type: "GET",
            cache: false,
            dataType: 'json',
            success: function (msg) {
                if (msg) {
                    Materialize.toast('已退出', 4000);
                    setTimeout(()=>{
                        isSignout=true;
                        window.location.href="/posts"
                    },1000)
                }
            },
            error: function () {
                alert('异常');
            }
        })
    }
    // 测试数据
    (()=>{
        $.ajax({
            url: "/test",
            type: "GET",
            dataType: 'json',
            success: function (msg) {
                console.log(msg)
            },
            error: function (err) {
                console.log(JSON.stringify(err));
            }
        })
    })()
</script>
